/* ==========================================================
   VISUAL NA TELA
   ========================================================== */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.btn-close-green {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #21ae6f;
  color: white;
  border: none;
  border-radius: 6px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.etiquetas-wrapper-scroll {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

/* ==========================================================
   ETIQUETA
   ========================================================== */

.etiqueta-box {
  border: 2px solid rgb(0, 0, 0);
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dest-nome {
  font-size: 3.0rem;
  font-weight: 950;
  margin: 10px 0;
  text-transform: uppercase;
}

.secao-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 10px;
}

.nf-valor {
  font-size: 3.5rem;
  font-weight: 900;
}

.vol-info {
  font-size: 2.3rem;
  font-weight: 800;
}

.transportadora-nome {
  font-weight: 900;
  font-size: 1.3rem;
  margin-top: 7px;
}

/* ==========================================================
   AÇÕES DO MODAL
   ========================================================== */

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Botão principal */
.btn-gerar {
  background: #21ae6f;
  color: white;
  border: none;
  padding: 14px 40px;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

/* Hover */
.btn-gerar:hover {
  background: #1b965e;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Clique */
.btn-gerar:active {
  transform: scale(0.98);
}
